<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BE Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fusion.css') }}">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 content">
                <div class="jumbotron">
                    <h1 class="display-4">Cancer Detection Process</h1>
                    <p class="lead">
                        ResNet-50 is a 50-layer convolutional neural network (48 convolutional layers, one MaxPool layer,
                        and one average pool layer). Residual neural networks are a type of artificial neural network
                        (ANN) that forms networks by stacking residual blocks.
                        We aim to detect brain tumour using the ResNet-50 CNN architecture trained with our parameters
                        which would help us to achieve our target of 99.3% accuracy.
                    </p>
                </div>
                <h3 class="heading">The Identified Image</h3>
                <center>
                    <img src="{{ url_for('static',filename='segmented.jpg') }}" id="fusion" alt="Fused Image"
                        class="fusion" style="border:2px solid #87857f;padding:15px; border-radius:10px;">
                    <div>
                        <input type="text" id="cancerType" readonly="readonly" value="{{cancerType}}"
                            style="margin-top: 20px; width: 300px; padding: 10px; text-align: center; border-radius: 5px; border: 1px solid #ccc;">
                    </div>
                </center>

            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>